.institutional {
    padding: 20px 0px;
}

.institutional .wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: var(--color-white);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.institutional .wrapper .text {
    width: 50%;
    text-align: justify;
    padding: 40px 20px;
    background: var(--color-white);
    border-radius: 5px;
}

.institutional .wrapper .text h4 {
    position: relative;
    font-weight: 300;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.institutional .wrapper .text h4::after {
    content: '';
    position: absolute;
    margin-left: 8px;
    top: 15px;
    font-weight: 400;
    width: 143px;
    height: 1px;
    background-color: var(--color-brown);
}

.institutional .wrapper .text h3 {
    font-weight: 800;
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: -5px;
    padding: 0;
}

.institutional .wrapper .text .description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    padding-right: 30px;
}

.institutional .wrapper .image {
    position: relative;
    padding: 0px 10px;
    width: 50%;
    height: auto;
    max-height: 100%;
}

.institutional .wrapper .image img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    border: 2px solid var(--color-opac);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mision-vision {
    display: none;
    padding: 0 !important;
}

.mision-vision .wrapper {
    display: flex;
    padding: 20px 10px;
}

.mision-vision .wrapper .col-md-3:nth-child(1) {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mision-vision .wrapper .col-md-3:nth-child(2) {
    padding-right: 0 !important;
}

.mision-vision .wrapper .box {
    padding: 20px;
    border-radius: 5px;
}

.mision-vision .wrapper .box .context .fa-caret-down {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    color: var(--color-white);
}

.mision-vision .wrapper .box .context .fa-caret-up {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    color: var(--color-white);
}

.mision-vision .wrapper .box .context h1 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 20px;
    font-weight: 800;
    background-color: var(--color-brown);
    color: var(--color-white);
    width: max-content;
    padding: 5px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
}

.mision-vision .wrapper .box .context p {
    text-align: justify;
    color: var(--color-black);
    padding: 10px;
    background-color: var(--color-white);
}

.history {
    margin: 40px 0px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.history::after {
    content: "";
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.808);
}

.history .container {
    position: relative;
    z-index: 4;
}

.history .banner-title {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    margin-top: -20px;
    width: max-content;
    padding: 5px 20px;
    background-color: var(--color-brown);
    color: var(--color-white);
}

.history .banner-title h1 {
    padding: 8px 20px;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.history .context {
    color: var(--color-white);
    padding: 40px;
}

.history .context p {
    margin: 0;
    padding: 0;
    line-height: 1.8;
    text-align: justify;
    font-weight: 300;
}

.persons .first .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.persons .first .box {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.persons .first .box .img-person {
    border: 10px solid var(--color-brown);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 0.5s;
}

.persons .first .box .img-person:hover {
    background-size: 100%;
    border: 10px solid var(--color-brown-opac);
}

.persons .first .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    padding: 20px 0px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--color-white);
    border: 0px solid var(--color-brown-opac);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.persons .first .box .text h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 2px;
    color: var(--color-black);
}

.persons .first .box .text p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
    color: var(--color-gray);
}

.persons .first .box .text span {
    position: absolute;
    top: -30px;
    display: flex;
    width: max-content;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: var(--color-brown-opac);
    color: var(--color-white);
}

/* Second */

.persons .second .group {
    display: flex;
    flex-wrap: wrap;
}

.persons .second .box {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.persons .second .box .img-person {
    border: 5px solid var(--color-black-opac);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 0.5s;
}

.persons .second .box .img-person:hover {
    border: 2px solid var(--color-opac);
}

.persons .second .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 5px;
    width: auto;
    border: 0px solid var(--color-brown-opac);
}

.persons .second .box .text span {
    font-weight: 800;
    margin-bottom: 3px;
    color: var(--color-opac);
}

.persons .second .box .text h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--color-white);
}

.persons .second .box .text p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
    color: var(--color-gray);
}

/*DOCS*/
.section-pdf {
    display: flex;
    flex-wrap: wrap;
}

.section-pdf .col-md-3 {
    display: flex;
    padding: 0px 5px;
}

.section-pdf .box {
    overflow: hidden;
    width: 100%;
    margin: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    color: var(--color-black);
    border: 1px solid var(--color-brown);
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
}

.section-pdf .box:hover {
    transform: scale(1.05);
}

.section-pdf .pdf {
    color: var(--color-brown);
    font-size: 1.5rem;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-pdf .title {
    word-wrap: break-word;
    margin-bottom: 10px;
    text-align: center;
    height: 53px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 800;
    line-height: 1.1;
    color: var(--color-black-opac);
}

.section-pdf .title p {
    width: 100%;
    text-align: center;
}