*{
    /*user-select: none !important;*/
}
body {
    font-family: "Open Sans" !important;
    font-family: "Manrope", sans-serif;
    font-size: 0.8rem;
    color: #222;
    margin: 0;
    background: #F7F7F7;
    position: relative;
}
.section-info {
    padding: 10px 20px;
    background-color: var(--color-white);
    border-radius: 5px;
    color: var(--color-black);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.scroll-to-top.visible {
    opacity: 0.75;
}

.scroll-to-top {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    background: var(--color-brown);
    border-radius: 4px 4px 0 0;
    bottom: 0;
    color: #FFF;
    display: block;
    height: 9px;
    opacity: 0;
    padding: 10px 10px 35px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
    z-index: 1040;
    font-size: 0.8em;
}

.scroll-to-top:hover {
    text-decoration: none;
    color: var(--color-white)
}

.scroll-to-top i {
    transition: all 0.3s;
    font-size: 20px;
}

.scroll-to-top:hover i {
    transform: scale(1.2);
}


#show-comunicate {
    transition: all 0.5s;
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: #222222ec;
    z-index: 7000;
    animation: showMe 0.2s ease-in-out forwards;
}

@keyframes showMe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#show-comunicate .base {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 15%;
}

#show-comunicate .base img {
    width: 50%;
}

#show-comunicate .close {
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    color: var(--color-white);
    cursor: pointer;
}