.section-contact {
    background-color: var(--color-brown);
    color: #fff
}

.section-contact .row .col-lg-4 .box {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Box 1*/
.section-contact .row .col-lg-4:nth-child(1) .box {
    padding: 10px 30px;
}


.section-contact .row .col-lg-4:nth-child(1):hover .box::before {
    top: 75%;
}

.section-contact .row .col-lg-4:nth-child(1) .box::after {
    content: '';
    position: absolute;
    background-color: var(--color-brown-opac);
    width: 1px;
    height: 100%;
    top: 0;
    right: 1.1px;
}

.section-contact .row .col-lg-4:nth-child(1) .box p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.section-contact .row .col-lg-4:nth-child(1) .box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px
}

/* Box 2*/
.section-contact .row .col-lg-4:nth-child(2) .box {
    padding: 10px;
}


.section-contact .row .col-lg-4:nth-child(2):hover .box::before {
    top: 75%;
}

.section-contact .row .col-lg-4:nth-child(2) .box::after {
    content: '';
    position: absolute;
    background-color: var(--color-brown-opac);
    width: 1px;
    height: 100%;
    top: 0;
    right: 1.1px;
}

.section-contact .row .col-lg-4:nth-child(3) .box h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

/* Box 3*/
.section-contact .row .col-lg-4:nth-child(3) .box {
    padding: 10px;
}

.section-contact .row .col-lg-4:nth-child(2) .box h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

.ul-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-contact .title {
    font-weight: 700;
    color: #b3b1b1;
}

.ul-contact li {
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
}

.ul-contact li i {
    margin-right: 10px;
    color: #b3b1b1;
}

.ul-contact a {
    text-decoration: none !important;
    color: var(--color-opac);
    font-weight: 300;
}

.ul-contact a:hover {
    color: var(--color-opac);
}

.ul-contact a:hover i {
    transform: rotate(25deg);
    color: var(--color-opac);
}

.ul-contact a i {
    transition: 0.3s all;
    margin-right: 10px;
    color: #b3b1b1;
}

.footer {
    font-weight: 300 !important;
    color: var(--color-gray);
    background-color: var(--color-black);
}