/*Select*/

.new-selected {
    background-color: var(--color-white);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--color-gray-opac);
}

.new-selected .title {
    padding: 20px;
}

.new-selected .title h3 {
    position: relative;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}

.new-selected .title h3::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 15%;
    height: 2px;
    background-color: var(--color-brown);
}

.new-selected .title h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 80%;
    height: 1px;
    left: 19%;
    background-color: var(--color-gray);
}

.new-selected .image {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.new-selected .image .float-date {
    position: absolute;
    font-size: 14px;
    left: 20px;
    top: 20px;
    background-color: var(--color-brown);
    color: var(--color-white);
    padding: 5px 20px;
    font-weight: 500;
}

.new-selected .description {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}

.new-selected .description .text .date {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
}

.new-selected .description .text .info {
    font-size: 0.8rem !important;
    text-align: justify;
}


/*PRONUN AND COMUN*/
.comun-pronun-selected {
    background-color: var(--color-white);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--color-gray-opac);
}

.comun-pronun-selected .title {
    padding: 20px;
}

.comun-pronun-selected .title h3 {
    font-size: 1.4rem;
    position: relative;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}

.comun-pronun-selected .title h3::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 15%;
    height: 2px;
    background-color: var(--color-brown);
}

.comun-pronun-selected .title h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 81%;
    height: 1px;
    left: 19%;
    background-color: var(--color-gray);
}

.comun-pronun-selected .description {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}

.comun-pronun-selected .description .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;

}

.comun-pronun-selected .description .text {
    padding-left: 20px;
    width: calc(100%-400px);
}

.comun-pronun-selected .description .text .date {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
}

.comun-pronun-selected .description .text .info {
    font-size: 0.8rem !important;
    text-align: justify;
}

.comun-pronun-selected .image-main {
    padding: 20px;
}

.comun-pronun-selected .image-main img {
    width: 100%;
}



.new .col-md-8 .box {
    border-radius: 5px;
    border: 1px solid var(--color-gray-opac);
}