/* Media Queries para Responsividad */
@media (max-width: 1024px) {
    .main {
        overflow: hidden;
        box-sizing: border-box;
    }

    /*HEADER*/
    .header .navbar {
        flex-direction: row;
        align-items: center;
        padding: 0px 50px !important;
    }

    .header .navbar .navbar-nav {
        top: 55px;
        left: 0;
        position: absolute;
        background-color: var(--color-black);
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
        justify-content: center;
        height: 100vh;
    }

    .navbar-nav .nav-item {
        border-radius: none !important;
        margin: 0;
        /* Reduce el margen entre elementos */
    }
    .navbar-nav .nav-item .nav-link {
        text-align: center;
        padding: 20px 20px;
        font-size: 15px !important;
    }
    .header .navbar .navbar-brand img {
        height: 35px;
    }

    .menubar {
        display: block !important;
    }

    .submenu {
        width: 100% !important;
        top: 0;
        position: relative;
        width: max-content;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    /*FOOTER*/
    .section-contact .box {
        margin-bottom: 10px;
        padding: 10px 20px !important;
    }

    .section-contact iframe {
        width: 100%;
    }

    .footer .col {
        font-size: 12px !important;
        justify-content: space-between;
        align-items: center;
    }
    .section-contact .row .col-lg-4:nth-child(1) .box::after {
        display: none !important;
    }
    .section-contact .row .col-lg-4:nth-child(2) .box::after {
        display: none !important;
    }
    

    /*SLIDER*/
    #sliderAutomatic .carousel-item .carousel-caption h1 {
        font-size: 20px !important;
    }

    #sliderAutomatic .carousel-item .carousel-caption p {
        font-size: 10px !important;
    }

    .base-icon {
        transform: scale(0.5);
    }

    /*BIRTHDAY*/
    .birthday .col-md-4 {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .birthday .col-md-4 .box {
        width: 100% !important;
    }

    .birthday .col-md-4:nth-child(2) {
        display: none;
    }
    .birthday .box h3{
        font-size: 0.8rem !important;
    }
    .birthday .box h1 {
        font-size: 22px !important;
    }

    .birthday .hb {
        position: relative;
        margin-bottom: -10px;
    }

    .birthday .hb img {
        margin-left: -30px;
        margin-top: 0px;
        width: 260px;
        margin-bottom: -50px;
    }

    /*COURSES AND EVENT*/
    .events-courses .wrapper {
        flex-wrap: wrap;
    }

    /*PROCESS*/
    .featured-box {
        width: 100%;
    }

    .box-content span {
        width: 120px;
        height: 120px;
    }

    .box-content i {
        background-color: transparent;
        color: var(--color-white) !important;
        font-size: 20px;
    }

    .box-content h4 {
        font-size: 20px;
        margin-bottom: 15px !important;
    }

    .box-content p {
        color: var(--color-gray) !important;
        font-size: 15px !important;
    }

    /*SERVICES*/
    .services .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .comun-pronun .wrapper {
        flex-wrap: wrap;
    }

    .comun-pronun .wrapper .col-md-6 {
        padding: 0;
        margin-bottom: 20px;
    }

    /* ABOUT */
    .institutional .wrapper {
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }

    .institutional .wrapper .text {
        width: 100% !important;
    }

    .institutional .wrapper .text h4::after {
        width: 90px !important;
    }

    .institutional .wrapper .text h3 {
        font-size: 34px !important;
    }

    .institutional .wrapper .text .description {
        padding-right: 10px !important;
    }

    .institutional .wrapper .image {
        width: 100% !important;
    }

    .persons .first .box .text {
        width: 90% !important;
    }

    .news .col-md-8 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 10px;
    }

    /*FLOATS*/
    #show-image .base img {
        width: 100% !important;
    }

    #show-image .image span {
        font-size: 0.8rem !important;
    }

    #show-image .close {
        font-size: 20px !important;
        top: 100px !important;
    }

    /*BIRTHDAY*/
    .all-birthdays .box {
        width: 100% !important;
        margin-bottom: 10px !important;
    }

    /* PROCE */
    .process-selected .col {
        flex-wrap: wrap;
    }

    /*MESA*/
    .mesa-wrapper .collapse .d-flex {
        min-width: 100%;
        flex-wrap: wrap;
    }

    .mesa-wrapper .collapse .d-flex .col-md-4 {
        margin-bottom: 10px;
    }

    .mesa-wrapper .collapse .d-flex .col-md-8 {
        padding: 0px !important;
    }

    .form-contact {
        gap: 10px;
    }

    .search .caja-input span {
        width: 150px !important;
    }

    /*POWER BI*/
    .power-bi {
        flex-wrap: wrap;
    }

    .power-bi .col-md-3 {
        flex-direction: row !important;
        margin-bottom: 20px;
    }

    .power-bi .option h5 {
        font-size: 1.4rem;
    }

}

@media (max-width: 768px) {}

@media (max-width: 480px) {}